{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
<div class="container-fluid forms  d-flex flex-column justify-content-center">
    <div>
        <h1 class="d-flex justify-content-center">Morse Code Translator</h1>
    </div>
    <div>
        <form class="d-flex justify-content-center" method="POST" action="{{ url_for('show_english_results') }}">
            {{ form.csrf_token }}
                <p>
                    Enter the text you would like to decrypt: {{ form.text }} {{ wtf.form_field(form.submit, button_map={'submit':'btn btn-outline-success'}) }}
                </p>
        </form>
    </div>
</div>
</body>
</html>