{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<link href="{{url_for('static', filename='styles.css') }}">
<body>
    <div class="container-fluid forms d-flex flex-column justify-content-center">
        <div>
            <h1 class="d-flex justify-content-center">Morse Code Generator</h1>
        </div>
        <div>
            <form class="d-flex justify-content-center" method="POST" action="{{ url_for('show_morse_results') }}">
                {{ form.csrf_token }}
                <p>
                    Enter the text you would like to encrypt: {{ form.text }} {{ wtf.form_field(form.submit, button_map={'submit':'btn btn-outline-dark'}) }}
                </p>
            </form>
            <div class="d-flex justify-content-center morse-img">
                    <img src="https://media.giphy.com/media/l44rfqXWyreAlJ01P2/giphy.gif"

                </div>
        </div>
    </div>
</body>
</html>
</html>