<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Morse Code Project</title>

</head>
<body>
    <h1>Morse Code Generator</h1>
    <form method="POST" action="{{ url_for('morse_text') }}">
        {{ form.csrf_token }}
        <p>Enter the text you would like to encrypt: {{ form.text }} {{ form.submit }}</p>
    </form>
</body>
</html>